Index:
  Background: Build

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  Designators: Yes

Hover:
  ShowAKA: Yes

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
